.u-section-1 .u-sheet-1 {
  min-height: 670px;
}

.u-section-1 .u-group-1 {
  width: 996px;
  min-height: 394px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 21px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 600;
  margin: 27px 33px 0 43px;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  margin: 15px 33px 0 43px;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: none;
  background-image: none;
  font-weight: 700;
  margin: 14px auto 0 33px;
  padding: 9px 12px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
    min-height: 413px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 5px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 15px;
    margin-left: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 573px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 21px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: -27px;
    margin-left: 27px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 17px;
    margin-left: 27px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 27px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 221%;
    left: -60%;
    height: 100%;
    top: 0%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 941px;
  }

  .u-section-1 .u-group-1 {
    min-height: 849px;
    margin-bottom: 32px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-right: -15px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 15px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 380%;
    left: -140%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 457px;
}

.u-section-2 .u-video-1 {
  width: 586px;
  height: 303px;
  margin: 60px auto;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-2 .u-video-1 {
    height: 279px;
    margin-top: 79px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-2 .u-video-1 {
    height: 176px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}