 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(10,48,84,0.75), rgba(10,48,84,0.75)), url("../../images/20220204_091259507_iOS.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  margin: 45px auto 0 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px auto 60px 30px;
}